* {
	font-family: Arial, Helvetica, sans-serif;
}

.main-container {
	height: auto;
	margin: 0 auto;
	width: 700px;
	> h1 {
		color: red;
	}
	
	> h3 {
		color: blue;
	}
	.image-container {
		width: 200px;
		margin: 0 auto;
		> img {
			height: auto;
			width: 200px;
		}
	}
}
